apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: restaurant-test
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/shadrach85/restaurant-infrastructure.git
    targetRevision: main
    path: kubernetes
  destination:
    server: https://kubernetes.default.svc
    namespace: restaurant-test
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
